summary {
    max-width: 1023px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 96, 96, 1);
    position: relative;
    background-image: url("../../assets/vectorDown.svg");
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 24px;
    cursor: pointer;
    display: block;
}

.accomBar {
    background-size: 18px;
}
details[open] summary {
    background-image: url("../../assets/vectorUp.svg");
    transition: 0.3s;
}
details[open] .collapse {
    animation: fadeIn 0.5s ease-out forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.collapseH2 {
    margin-left: 1%;
    font-size: 24px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
.collapse {
    max-width: 1023px;
    margin: 0 auto;
    padding: 2%;
    border-radius: 0 0 10px 10px;
    background-color: rgba(246, 246, 246, 1);
}
.collapseP {
    font-size: 24px;
    font-weight: 400;
    line-height: 25.67px;
}
.accomTitle {
    margin-left: 1%;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
.accomDesc {
    font-size: 18px;
    font-weight: 400;
    line-height: 25.67px;
    white-space: pre-line;
}

@media screen and (max-width: 810px) {
    .summary {
        padding: 5px;
    }
    .collapseH2,
    .accomTitle {
        font-size: 13px;
    }
    .accomBar {
        background-size: 18px;
    }
    .collapseP,
    .accomDesc {
        font-size: 12px;
    }
}
