* {
    color: rgba(255, 96, 96, 1);
    font-weight: 500;
}
.accomContainer {
    padding: 20px;
}
.accomBox {
    max-width: 1240px;
    margin: 20px auto;
}
.accomFlex {
    display: flex;
    justify-content: space-between;
}
.accomH1 {
    font-size: 36px;
}
.accomH2 {
    font-size: 18px;
    margin: 10px 0 30px;
}
.accomProfile {
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: end;
}
.accomName {
    width: 95px;
    margin-right: 5px;
}
.accomImg {
    width: 68px;
    height: 68px;
    border-radius: 50%;
}
.accomStar {
    text-align: right;
    margin-top: 20px;
    width: 200px;
}
.accomCollapse {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.accomCollapseBox {
    flex: 1;
}
.accomCollapseBox:first-child {
    margin-right: 5%;
}
.equipments {
    font-size: 18px;
    font-weight: 400;
    white-space: pre-line;
}
.accomTagStar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

@media screen and (max-width: 810px) {
    .accomFlex {
        flex-direction: column;
    }
    .accomProfileStar {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 10px;
    }
    .accomStar {
        text-align: left;
        margin-top: 20px;
        width: 100px;
    }
    .accomH1 {
        font-size: 18px;
    }
    .accomH2 {
        font-size: 14px;
    }
    .accomName {
        font-size: 12px;
        width: 60px;
    }
    .accomProfile {
        text-align: right;
    }
    .accomImgContainer {
        display: flex;
        align-items: center;
    }
    .accomImg {
        width: 32px;
        height: 32px;
    }
    .accomTagStar {
        flex-direction: column;
    }
    .accomCollapse {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .accomCollapseBox:first-child {
        margin: 10px 0 20px;
    }
}
