.errorContainer {
    margin: 1% auto;
    max-width: 1440px;
    text-align: center;
}
.errorImg {
    margin-top: 7%;
    width: 40%;
}
.brResp {
    display: none;
}
.errorH1,
.errorP {
    font-size: 36px;
    font-weight: 500;
    margin-top: 3%;
    color: rgba(255, 96, 96, 1);
}
.errorP {
    font-size: 18px;
    margin: 9% 0 3%;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: underline;
}
.errorP:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

@media screen and (max-width: 810px) {
    .errorImg {
        margin-top: 150px;
        width: 198px;
    }
    .errorH1 {
        font-size: 18px;
        padding: 20px 10px;
        word-break: break-word;
    }
    .errorP {
        font-size: 14px;
        margin: 150px 0 50px;
    }
    .brResp {
        display: block;
    }
}
